<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[1f01]</key>
	<string>1f01</string>
	<key>[1f02]</key>
	<string>1f02</string>
	<key>[1f03]</key>
	<string>1f03</string>
	<key>[1f04]</key>
	<string>1f04</string>
	<key>[1f05]</key>
	<string>1f05</string>
	<key>[1f06]</key>
	<string>1f06</string>
	<key>[1f07]</key>
	<string>1f07</string>
	<key>[1f08]</key>
	<string>1f08</string>
	<key>[1f09]</key>
	<string>1f09</string>
	<key>[1f10]</key>
	<string>1f10</string>
	<key>[1f11]</key>
	<string>1f11</string>
	<key>[1f12]</key>
	<string>1f12</string>
	<key>[1f13]</key>
	<string>1f13</string>
	<key>[1f14]</key>
	<string>1f14</string>
	<key>[1f15]</key>
	<string>1f15</string>
	<key>[1f16]</key>
	<string>1f16</string>
	<key>[1f17]</key>
	<string>1f17</string>
	<key>[1f18]</key>
	<string>1f18</string>
	<key>[1f19]</key>
	<string>1f19</string>
	<key>[1f20]</key>
	<string>1f20</string>
	<key>[1f21]</key>
	<string>1f21</string>
	<key>[1f22]</key>
	<string>1f22</string>
	<key>[1f23]</key>
	<string>1f23</string>
	<key>[1f24]</key>
	<string>1f24</string>
	<key>[1f25]</key>
	<string>1f25</string>
	<key>[1f26]</key>
	<string>1f26</string>
	<key>[1f27]</key>
	<string>1f27</string>
	<key>[1f28]</key>
	<string>1f28</string>
	<key>[1f29]</key>
	<string>1f29</string>
	<key>[1f30]</key>
	<string>1f30</string>
	<key>[1f31]</key>
	<string>1f31</string>
	<key>[1f32]</key>
	<string>1f32</string>
	<key>[1f33]</key>
	<string>1f33</string>
	<key>[1f34]</key>
	<string>1f34</string>
	<key>[1f35]</key>
	<string>1f35</string>
	<key>[1f36]</key>
	<string>1f36</string>
	<key>[1f37]</key>
	<string>1f37</string>
	<key>[1f38]</key>
	<string>1f38</string>
	<key>[1f39]</key>
	<string>1f39</string>
	<key>[1f40]</key>
	<string>1f40</string>
	<key>[1f41]</key>
	<string>1f41</string>
	<key>[1f42]</key>
	<string>1f42</string>
	<key>[1f43]</key>
	<string>1f43</string>
	<key>[1f44]</key>
	<string>1f44</string>
	<key>[1f45]</key>
	<string>1f45</string>
	<key>[1f46]</key>
	<string>1f46</string>
	<key>[1f47]</key>
	<string>1f47</string>
	<key>[1f48]</key>
	<string>1f48</string>
	<key>[1f49]</key>
	<string>1f49</string>
	<key>[1f50]</key>
	<string>1f50</string>
	<key>[1f51]</key>
	<string>1f51</string>
	<key>[1f52]</key>
	<string>1f52</string>
	<key>[1f53]</key>
	<string>1f53</string>
	<key>[1f54]</key>
	<string>1f54</string>
	<key>[1f55]</key>
	<string>1f55</string>
	<key>[1f56]</key>
	<string>1f56</string>
	<key>[1f57]</key>
	<string>1f57</string>
	<key>[1f58]</key>
	<string>1f58</string>
	<key>[1f59]</key>
	<string>1f59</string>
	<key>[1f60]</key>
	<string>1f60</string>
	<key>[1f61]</key>
	<string>1f61</string>
	<key>[1f62]</key>
	<string>1f62</string>
	<key>[1f63]</key>
	<string>1f63</string>
	<key>[1f64]</key>
	<string>1f64</string>
	<key>[1f65]</key>
	<string>1f65</string>
	<key>[1f66]</key>
	<string>1f66</string>
	<key>[1f67]</key>
	<string>1f67</string>
</dict>
</plist>
